body{
    background: rgb(92, 86, 86);
}

main{
    background-color: rgb(255, 245, 245);
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

form{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 4rem;
}


input {
    
    padding: 1rem;
  }

input[type=text]{
    width: 90%;
}


h1{
    margin-right: 40%;
    margin-left: 40%;
}